.wrapper{
    height: 100vh;
    display: flex;
    flex-direction: column;
    // 从上到下背景线性渐变
    background: rgb(255,255,255);
    background: linear-gradient(180deg, EEF1FF 0%,B1B2FF 100%);
    >header{
        
    }
    >main{
        flex-grow: 1;

    }
    >footer{
    }
}