.wrapper{
    background: linear-gradient(to bottom,var(--levelforth),var(--leveltwo));
    padding: 36px 12px 12px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--levelone);
}