.button{
    border: 1px solid var(--levelforth);
    padding: 8px 16px;
    background-color: var(--levelforth);
    border-radius: var(--button-border-radius);
    font-size: var(--button-font-size);
}