.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
  
}
:global{
    .horizontal{
        flex-direction: column;
    }
    .vertical{
        flex-direction: row;
    }
}
