:root{
    --levelone  : #EEF1FF;
    --leveltwo : #D2DAFF;
    --levelthree : #AAC4FF;
    --levelfour : #B1B2FF;

    --button-border-radius: 4px;
    --button-font-size : 18px;

    --float-button-border-radius: 50%;

    --overlay-bg: rgb(0, 0, 0,0.5);
    --overlay-safe-area:30px;
}